<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modifier un produit - Gestion vente</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{../../css/sb-admin-2.min.css}" rel="stylesheet">



</head>

<body id="page-top">

<th:block th:replace="fragments/nav :: navigation"></th:block>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h5 class="h5 mb-0 text-gray-800 text-bold">Modifier produit</h5>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-lg-7">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-red-900 mb-4" th:text=" 'Modifier le produit ||'+ ${unProduit.libelle} + '||' "></h1>
                </div>
                <form class="user" th:action="@{/products/edit}" method="post" th:object="${unProduit}">
                    <input type="hidden" class="form-control" th:field="*{id}">
                    <input type="hidden" class="form-control" th:field="*{dateCreation}">
                    <input type="hidden" class="form-control" th:field="*{qteStok}">
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control btn-user btn-block"
                                   placeholder="Libellé" th:field="*{libelle}">
                        </div>
                        <div class="col-sm-6">
                            <input type="number" class="form-control btn-user btn-block"
                                   placeholder="Prix" th:field="*{prix}">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control btn-user btn-block"
                               placeholder="Quantité seuil" name="qteSeuil" th:field="*{qteSeuil}">
                    </div>
                    <div class="form-group btn-user btn-block">
                        <label >Sélectionner une catégorie</label>
                        <select name="categoryId" class="form-control">
                            <option th:each="categorie : ${categories}"
                                    th:value="${categorie.id}"
                                    th:text="${categorie.designation}">
                            </option>
                        </select>
                    </div>

                    <hr>
                    <button class="btn btn-success btn-user btn-block">Valider</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->


<th:block th:replace="fragments/nav :: footer"></th:block>


</body>

</html>