<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Approvisionner un produit - Gestion vente</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{../../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{../../../css/sb-admin-2.min.css}" rel="stylesheet">



</head>

<body id="page-top">

<th:block th:replace="fragments/nav :: navigation"></th:block>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h5 class="h5 mb-0 text-gray-800 text-bold">Nouveau approvisionnement</h5>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-lg-7">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Ajouter un nouveau approvisionnement!</h1>
                </div>
                <form class="user" th:action="@{/approvisionnement/save}" th:object="${oneProduit}" method="post">
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="hidden"  name="produit_id" th:value="${oneProduit.id}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" readonly th:value="${oneProduit.libelle}" class="form-control btn-user btn-block">
                        </div>
                        <div class="col-sm-6">
                            <input type="number" required class="form-control btn-user btn-block" name="quantite" placeholder="quantite">
                        </div>
                    </div>
                    <hr>
                    <button class="btn btn-success btn-user btn-block">Valider</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<th:block th:replace="fragments/footer :: footer"></th:block>


</body>

</html>