<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Liste des utilisateurs - Gestion vente</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{../../css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link th:href="@{../../vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>

<body id="page-top">

<th:block th:replace="fragments/nav :: navigation"></th:block>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total (utilisateurs)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <h6 class="m-0 font-weight-bold text-primary mb-4" th:text="${users.size()}"></h6>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary mb-4">Liste des utilisateurs</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" th:if="${#lists.size(users) > 0}">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Nom</th>
                        <th>Prénoms</th>
                        <th>Role</th>
                        <th>Etat</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="us : ${users}">
                        <td th:text="${us.id}"></td>
                        <td th:text="${us.username}"></td>
                        <td th:text="${us.nom}"></td>
                        <td th:text="${us.prenom}"></td>
                        <td th:text="${us.role}"></td>
                        <td th:text="${us.getActive() == 1 ? 'Actif' : 'Inactif'}"></td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<th:block th:replace="fragments/footer :: footer"></th:block>

</body>

</html>