<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modifier un produit - Gestion vente</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{../../css/sb-admin-2.min.css}" rel="stylesheet">



</head>

<body id="page-top">

<th:block th:replace="fragments/nav :: navigation"></th:block>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h5 class="h5 mb-0 text-gray-800 text-bold">Modifier produit</h5>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-lg-7">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-red-900 mb-4" th:text=" 'Modifier le produit ||'+ ${unProduit.designation} + '||' "></h1>
                </div>
                <form class="user" th:action="@{/products/edit}" method="post" th:object="${unProduit}">
                    <input type="hidden" class="form-control" th:field="*{id}">
                    <input type="hidden" class="form-control"
                           placeholder="Désignation" th:field="*{dateCreation}">
                    <input type="hidden" class="form-control"
                           placeholder="Désignation" th:field="*{quantiteStock}">
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control" id="exampleFirstName"
                                   placeholder="Désignation" th:field="*{designation}">
                        </div>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="exampleLastName"
                                   placeholder="Prix" th:field="*{prix}">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="exampleInputEmail"
                               placeholder="Quantité seuil" name="quantiteSeuil" th:field="*{quantiteSeuil}">
                    </div>
                    <div class="form-group">
                        <label for="categ">Sélectionner une catégorie</label>
                        <select name="categorieId" class="form-control" id="categ">
                            <option th:each="categorie : ${categories}"
                                    th:value="${categorie.id}"
                                    th:text="${categorie.libelle}">
                            </option>
                        </select>
                    </div>


                    <hr>
                    <button class="btn btn-success btn-user btn-block">Valider</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2022</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="fragments/logoutModal :: logoutModal"></th:block>

<th:block th:replace="fragments/profileModal :: profileModal"></th:block>


<!-- Bootstrap core JavaScript-->
<script th:src="@{../../vendor/jquery/jquery.min.js}"></script>
<script th:src="@{../../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{../../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{../../js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{../../vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{../../js/demo/chart-area-demo.js}"></script>
<script th:src="@{../../js/demo/chart-pie-demo.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{../../js/demo/chart-area-demo.js}"></script>
<script th:src="@{../../js/demo/chart-pie-demo.js}"></script>


</body>

</html>