<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Modifier une categorie</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/bootstrap-icons.css}">
</head>
<body>
    <div th:replace="home :: navbar" />

    <div class="container">
        <div class="col-md-8 offset-md-2 mt-5">
            <div class="card text-center">
                <div class="card-header">
                    <h2>Formulaire de modification d'une categorie</h2>
                </div>
                <div class="card-body">
                    <form th:action="@{/categories/update}" th:object="${aCategory}" method="post">
                        <input type="hidden" th:field="*{id}" class="form-control" name="id" id="id">
                        <div class="form-floating mb-3">
                            <input type="text" th:field="*{designation}" class="form-control" name="designation" id="designation">
                            <label for="designation">designation</label>
                        </div>
                        <div class="form-floating mb-3">
                            <button type="reset" class="btn btn-light border">Annuler</button>
                            <button type="submit" class="btn btn-success">Modifier</button>
                        </div>
                    </form>
                    <p>
                        <a th:href="@{/categories}" class="text-end">Retour à la liste de categories</a>
                    </p>
                </div>
            </div>
        </div>
    </div>




<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>