<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="profileModal">
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" id="exampleModalLabel">Informations du compte 🤭</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6"> <h5><strong>Nom d'utilisateur : </strong></h5></div>
                        <div class="col-md-4"> <h5 class="text-secondary" sec:authentication="name"><strong></strong></h5></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6"> <h5><strong>Role : </strong></h5></div>
                        <div class="col-md-4"> <h5 class="text-secondary" sec:authentication="principal.authorities"><strong></strong></h5></div>
                    </div>

                </div>
+
            </div>
        </div>
    </div>
</th:block>

</html>